<style>
    body {
        background-color: pink;
    }
    .jumbotron {
        text-align: center;
    }
</style>
<div class="jumbotron">

    <h1>Index Scraping</h1>
    <h4>Articles from the Hungarian website "www.index.hu"</h4>

</div>
{{#each articles}}
<h3>{{this.title}}</h3>
<h5>Link: {{this.link}}</h5>
<p>id: {{this.id}}</p>
<hr>
{{/each}}
